.react-live-preview {
  margin: 0 0 20px 0;
  padding: 30px 30px;
  border: 1px solid var(--color-gray-3);
  border-top: 0;
}

h1.docs-title {
  padding: 60px 0 40px;
}

h1.docs-title a {
  font-weight: var(--font-weight-normal);
  color: var(--color-gray-5);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rbga(255,255,255,1);
  border-bottom: 1px solid var(--color-gray-3);
  margin-bottom: var(--space);
}



/* Page Layout */
.main {
  margin: 0 0 90px 320px;
  width: 810px;
}

.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 40px 30px 30px;
  background: var(--color-gray-1);
}

.left-nav ul,
.left-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-nav ul {
  margin-bottom: var(--space);
}

.left-nav a {
  color: var(--color-gray-7);
}

.left-nav a:hover {
  color: var(--color-gray-6);
}

.swarm-logo {
  display: block;
  margin: 0 auto var(--size-space-double);
}

.about-list {
  list-style-type: none;
  margin-bottom: var(--space);
}

.about-list li {
  margin-left: var(--space);
}

/* Props Table */
.props-table {
  width: 100%;
  border-spacing: 5px;
}

.props-table thead,
.props-table tbody {
  width: 100%;
}

.props-table th{
  border-bottom: 2px solid var(--color-indigo);
  margin-right: 5px;
  color: var(--color-gray-7);
  font-weight: 500;
}

.props-table th,
.props-table td {
  padding: 14px 20px 14px 0;
}

.props-table td {
  color: var(--color-gray-5);
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--color-gray-2);
}

.props-table tbody tr:last-child td {
  border-bottom: 2px solid var(--color-indigo);
}

.props-table tr:hover {
  background-color: var(--color-beach-highlight);
}

.props-table thead tr:hover {
  background: 0;
}

.props-table pre {
  font-family: monospace;
  display: inline;
  background-color: var(--color-gray-2);
  border-radius: 3px;
  color: var(--color-gray-7);
  padding: 3px 5px;
}

.props-table .text-required {
  color: var(--color-alert-red);
}

.props-table .text-highlight {
  color: var(--color-marigold);
}


/* Content Layout */
.grid-2-col {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-2-col .column {
  width: 48%;
  flex-direction: column;
  margin: 0 0 20px 0;
}


/* Prism Code editor */
pre.prism-code {
  overflow: scroll;
  padding: 20px 15px 30px;
}


/* Use this class for placeholder images - delete later */
.temp-image {
  width: 100%;
  height: 180px;
  background-color: var(--color-gray-1);
  margin: 30px 0;
}

/* static snippet styling */
.pre-static {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-left: 5px solid #eee;
  padding-left: 5px;
  background: #fff;
  color: #303030;
  overflow: auto;
}

/* icon docs syles */
.icon-wrapper {
  display: inline-flex;
  padding: 5px;
  box-sizing: border-box;
}

.icon-wrapper:focus {
  border-bottom: 1px solid var(--color-gray-7);
  outline: none;
}